NUXT_SESSION_PASSWORD=
AUTH_SECRET=
DATABASE_URL=
LDAP_URL=ldap://localhost:1389
LDAP_BASE_DN=dc=itk,dc=ppke,dc=hu
NUXT_JWT_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
NUXT_PUBLIC_VAPID_PUBLIC_KEY=
NUXT_VAPID_PRIVATE_KEY=
NUXT_VAPID_MAILTO=

